{% extends "header.html" %}

{% block content %}

<center>
    <h3>Formal lexicon - words</h3>
</center>
<br/>
<form method="post">
    <center>
        {% csrf_token %}
        <div class="mb-3">
            Query: {{ form.query }}
            <span class="p-3">Download results {{ form.download }}</span>
        </div>
        <div class="mb-3">
            <span class="p-3">Results number: {{ form.results_number }}</span>
            <span class="p-3">Location: {{ form.location }}</span>
            <span class="p-3"><input type="submit" value="Search"></span>
        </div>
    </center>
</form>
<hr/>

{{ errorMsg }}

{% if word2vec %}
<div class="row">
    <div class="col-sm-6">
      <h4>Word2vec</h4>
    </div>
    <div class="col-sm-6">
      <h4>WTM</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <ol>
            {% for elem in word2vec %}
                <li>{{ elem.0 }}: {{ elem.1 }}</li>
            {% endfor %}
        </ol>
    </div>
    <div class="col-sm-6">
        <ol>
            {% for elem in wtm %}
                <li>{{ elem.0 }}: {{ elem.1 }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endif %}

{% endblock %}