<!DOCTYPE html>
<html lang="en">

<head>
    <title>IPCCS</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
        $( ".datepicker" ).datepicker();
      } );
    </script>
</head>

<body class="body" style="background-color:#f6f6f6">
    <div class="container-fluid" style="min-height:95%; ">
        {% if user.is_authenticated %}
        <a class="btn btn-warning" href="/socialWords">Informal lexicon - words</a>
        <a class="btn btn-warning" href="/socialParagraphs">Informal lexicon - paragraphs</a>
        <a class="btn btn-warning" href="/formalWords">Formal lexicon - words</a>
        <a class="btn btn-warning" href="/formalParagraphs">Formal lexicon - paragraphs</a>
        <a class="btn btn-warning" href="/logout">Logout</a>
        <br/><br/><br/>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>