{% extends "header.html" %}

{% block content %}

<br/><br/><br/><br/><br/>

<div class="container-fluid" style="min-height:95%; ">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-2">
            <a href ="/socialWords" class="btn btn-warning">Informal lexicon - words</a>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <a href="/formalWords" class="btn btn-warning">Formal lexicon - words</a>
        </div>
    </div>
    <br/><br/><br/>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-2">
            <a href="/socialParagraphs" class="btn btn-warning">Informal lexicon - paragraphs</a>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <a href="/formalParagraphs" class="btn btn-warning" href="/formalParagraphs">Formal lexicon - paragraphs</a>
        </div>
    </div>
</div>

{% endblock %}