{% extends "header.html" %}

{% block content %}
<div class="container-fluid" style="min-height:95%; ">
    <br/>
    <center>
        <h3>Welcome to the IPCCS</h3>
    </center>
    <hr>
    <br/>
    <form method="post">
        {% csrf_token %}
        <center>
            {{ form.as_p }}
            <button type="submit">Login</button>
        </center>
    </form>
    <br/><br/>

</div>

{% endblock %}