{% extends "header.html" %}

{% block content %}
<div class="container-fluid" style="min-height:95%; ">
    <br/>
    <center>
        <h3>You have successfuly logged out</h3>
        <br/>
        <h3>To login again, click <a href="/">here</a></h3>
    </center>
    <hr>

</div>

{% endblock %}