{% extends "header.html" %}

{% block content %}

<center>
    <h3>Informal lexicon - paragraphs</h3>
</center>
<br/>
<form method="post">
    <center>
        {% csrf_token %}
        <div class="mb-3">
            Query: {{ form.query }}
            <span class="p-3">Results number: {{ form.results_number }}</span>
            <span class="p-3">Download results {{ form.download }}</span>
        </div>
        <div class="mb-3">
            <span class="p-3">Location: {{ form.location }}</span>
            <span class="p-3">Start date: {{ form.start_date }}</span>
            <span class="p-3">End date: {{ form.end_date }}</span>
            <span class="p-3"><input type="submit" value="Search"></span>
        </div>
    </center>
</form>
<hr/>

{{ errorMsg }}

{% if word2vec %}
<p><b>*Semantic sentiment:</b> aims to determine attitude of informal post based on the text meaning.</p>
<p>** Please note that social media data may contain offensive language, such as slurs and profanity.</p>
<div class="row">
    <div class="col-sm-6">
      <h4>Word2vec</h4>
    </div>
    <div class="col-sm-6">
      <h4>WTM</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <ol>
            {% for elem in word2vec %}
            <li><p>{{ elem.0 }}: {{ elem.1 }}; <br/> <a href="{{ elem.2 }}"><b>Link</b></a>; <b>Time:</b> {{ elem.3 }};
                <b>Semantic sentiment:</b> {{ elem.4 }}; <b>Author:</b> {{ elem.5 }}; <b>Reach:</b> {{ elem.6 }}</p></li>
            {% endfor %}
        </ol>
    </div>
    <div class="col-sm-6">
        <ol>
            {% for elem in wtm %}
            <li><p>{{ elem.0 }}: {{ elem.1 }}; <br/> <a href="{{ elem.2 }}"><b>Link</b></a>; <b>Time:</b> {{ elem.3 }};
                <b>Semantic sentiment:</b> {{ elem.4 }}; <b>Author:</b> {{ elem.5 }}; <b>Reach:</b> {{ elem.6 }}</p></li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endif %}

{% endblock %}